*{
    margin:0;
    font-family:arial;
    border:border-box;
}
.navbar{
    height:60px;
    width:100%;
    background-color:rgba(10, 5, 5, 0.872);
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:100%;
}
.nav-logo{
    height: 48px;
    width:100px;
}
.border{
    border:2px solid transparent;

}
.border:hover{
    border:2px solid white;
    
}

.add-f{
    color:#cccc;
    font-size:1rem;
    margin-left:15px;

}

.add-s{
    font-size:1rem;
    margin-left:3px;
}

.icon{
    display:flex;
    align-items:center;

}

.search-bar{
    background-color:rgb(250, 155, 60);
    border-radius:5px;
    width:650px;
    height:35px;
    margin-left:12px;
    text-align:center;
    display:flex;
    /* justify-content:space-evenly; */
}

.search-sel{
    width:50px;
    text-align:center;
    border:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color:rgb(228, 221, 221)
}

.search-input{
    width:560px;
    font-size: 1rem;
    border:none;
   
}

.search-icon{
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
}

.india{
    display:flex;
}

.india-flag{
    background-image:url("india-flag.jpg");
    background-size:cover;
    width:30px;
    height:20px;
}

.india-select{
    border:none;
    background-color:transparent;
    font-size:large;
    color:white;
    font-weight:600;
}

span{
    font-size:0.7rem;
}

.second-para{
    font-size:0.85rem;
    font-weight:700;
}

.search-bar:hover{
    border:2px solid orange;
}

.nav-cart i{
    font-size: 25px;
}
.nav-cart{
    font-weight:700;
}

.panel{
    background-color:rgb(22, 27, 39);
    color:white;
    display:flex;
    height:40px;
    justify-content:space-evenly;
    align-items:center;
}

.panel-opt p{
    display:inline;
    padding:15px;
    font-size:0.9rem;
}
.panel-opt{
    width:80%;
}

.panel-elec{
    font-size:1rem;
    font-weight:700;
}

.hero-section{
    background-image:url("hero_image.jpg");
    background-size: cover;
    height:350px;
    justify-content:center;
    display:flex;
     
}

.hero-para{
    background-color:white;
    width:80%;
    height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:280px;

}

.hero-para a{
    color:aqua;
}

.shop-sec{
    display:flex;
    justify-content:space-evenly;
    padding:30px;
}

.box{
    height:350px;
    width:22%;
    background-color: white;
    border-radius: 10px;
}

.box-img{
    width: 25px;
   margin-left: 30px;
   padding:6px;
}

.box-content{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:10px;
}
.shop-in1{
    background-color: rgb(177, 174, 174);   
}

.box-content p{
    color:aqua;
    padding-right: 10rem;
    font-weight:700;
}

.footer-1{
    background-color:rgb(56, 55, 55);
    height:40px;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-size:0.85rem;
}

.footer-2{
    height:250px;
    background-color: rgb(22, 27, 39);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    padding:5px;
    font-size: 0.85rem;
    color:rgb(160, 155, 155)   
}
.footer-2 ul{
    margin-top: 20px;
}

.am-logo{
    background-image:url("amazon_logo.png");
    display: flex;
    background-size: cover;
    height:40px;
    width: 100px;
    
}

.footer3{
    height:70px;
    background-color: rgb(22, 27, 39);
    border-top:0.5px solid white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.footer-4{
    height:60px;
    background-color:rgba(10, 5, 5, 0.872);
    color:white;
}

.footer-4 p{
    text-align:center;
    font-size:0.75rem;
    padding-top:5px;

}

.footer-4sep{
    padding-top:10px;
}

